<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | User Login Experiment for 2017 CSC 510</title>
  </head>
  <body>
    <h1>Help</h1>
	<p>
  		Get help on the website at the
  		<a href="https://github.com/SE17GroupH/userLoginExperiment">User Login Experiment GitHub page</a>.
	</p>
  </body>
</html>