<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | User Login Experiment for 2017 CSC 510</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>User Login Experiment for 2017 CSC 510</h1>
      <h2>
        This is the home page for the
        <a href="https://github.com/SE17GroupH">Group H</a>
        User Login Experiment application.
      </h2>
      <h2>
        For this experiment, we need you to click on the Sign up now button and register as a new user. 
      </h2>

      <h2>
        Then click on Sign out, then log into the system again.
      </h2>

      <h2>
        And you're done. Thank you so much for your participation.
      </h2>

      <h2>
      Instructions can be found <a href="https://github.com/SE17GroupH/SE17_TeamH_Ideas/blob/master/userLoginExp/app/assets/userInstruction.pdf">here </a>
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
    </div>



<%= link_to image_tag("software.png", alt: "Group H logo"),
            'https://github.com/SE17GroupH' %>
  </body>
</html>